<div class="webapp-root">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-toolbar-row>
        <img src="../assets/static/aviyan_logo.svg" width="60" height="50" />
        &nbsp; {{ title }} </mat-toolbar-row
      >
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sideNav mode="side" position="start" opened="true" class="mat-elevation-z1">
      sidenav content
    </mat-sidenav>
    

    <div class="content" style="padding: 15px">
      <app-dashboard #dashboardComponent></app-dashboard>
      <div style="width: 100%; position:fixed;bottom: 5px">
        <div style="text-align: center; font-size: small; color: #46277C;">
          Copyright©2022 aviyan.co.in. All rights reserved.<br>
          This software is being tested and released as a beta version.<br>
          Please contact <b>aviyan.auto.email@gmail.com</b> for any queries/feedback.
        </div>
        <br>
        <br>
      </div>
    </div>
  </mat-sidenav-container>
</div>
